.signup-container {
    box-shadow: var(--elevation-1);
    border-radius: 7.5px;
    margin: 5rem auto auto auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.signup-container-header{
    background-color: var(--accent-color-2);
    text-align: center;
    color: var(--reversed-txt-clr);
    line-height: 4rem;
    border-radius: 7.5px 7.5px 0 0;
    box-shadow: var(--elevation-1);
    width: 100%;
}

.signup-fields-container{
    padding: 2rem 2rem .1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    font-family: var(--ff-primary);
    justify-content: center;
}

.name-input-container{
    grid-area: name;
}

.phone-number-input-container{
    grid-area: phone-num;
}

.address-input-container{
    grid-area: address;
}


.types-input-container{
    grid-area: animals;
}


.name-input-label, .phone-number-input-label, .address-input-label, .types-input-label {
    display: block;
}

.signup-fields-container > div{
    flex-basis: 48%;
}

.name-input-container,
.address-input-container{
    margin-right: 4%;
}

.signup-fields-container > div input
{
    width: 100%;
    font-size: var(--base-size);
    padding: 0.5rem 1rem;
    border-radius: 7.5px;
    border: 1px solid var(--inactive-txt-clr);
}

.checkbox-container{
    padding: 25px 0 15px 0;
    text-align: center;
}

.btn-container {
    text-align: center;
    padding: 0 0 30px 0;
}

.submit-btn{
    width: 200px;
    padding:10px 0;
    text-justify: center;
    text-align: center;
    color: white;
    background-color: var(--primary-clr);
    font-size: var(--h3);
    font-family: var(--ff-primary);
    font-weight: 600;

    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    
    cursor: pointer;
    transition: .25s ease-in-out;
}

.submit-btn:hover{
    opacity: .75;
}

.terms-button,
.policy-button{
    border: none;
    background-color: transparent;
    color:var(--primary-txt-clr);
    text-decoration: underline;
    cursor:pointer;
}

.combobox-list{
    background-color: white;
    padding: 15px;
    list-style: none;
    box-shadow: var(--elevation-2);
    font-family: var(--ff-primary);
    z-index: 1;
    border-radius: 7.5px;
    position: relative;
}

.combobox-list li{
    cursor:pointer;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

.valid{
    border: 1px solid var(--inactive-txt-clr);
}

.signup-fields-container > div .invalid{
    border: 2px solid red;
    background-image: url(../../assets/icons/thirdparty/icons8-error-24.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 18px;
}

@media (max-width:450px){
    .signup-fields-container{
        grid-template-columns: 1fr;
        grid-template-areas: 'name' 
                             'phone-num'
                             'address' 
                             'animals'; 
    }

    .checkbox-container:first-child span{
        flex-basis: 100%;
    }
    
    .checkbox-container:last-child span{
        flex-basis: 100%;
    }
    
}