.signup-container{
    box-shadow: var(--elevation-1);
    border-radius: 7.5px;
    margin: 5rem auto auto auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.signup-header{
    background-color: var(--accent-color-2);
    text-align: center;
    color: var(--reversed-txt-clr);
    line-height: 4rem;
    border-radius: 7.5px 7.5px 0 0;
    box-shadow: var(--elevation-1);
    width: 100%;
}

.signup-fields-container{
    padding: 2rem 2rem .1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'fname-input-container    lname-input-container'
                         'email-input-container    username-input-container'
                         'password-input-container confirm-password-input-container'
                         'checkbox-container       checkbox-container'
                         'submit-btn submit-btn'; 
    grid-template-rows: repeat(3,1fr) .1fr 1fr;
    gap: 2rem;
    justify-content: center;
    font-family: var(--ff-primary);
}

.signup-fields-container input{
    width: 100%;
    font-size: var(--base-size);
    padding: 0.5rem 1rem;
    border-radius: 7.5px;
    border: 1px solid var(--inactive-txt-clr);
}

.signup-error-container{
    background-color: var(--cancel-delete-exit-color);
    width: 100%;
    border-radius: 0 0 7.5px 7.5px;
    text-align: center;
    color: var(--reversed-txt-clr);
    font-family: var(--ff-primary);
    font-size: var(--h5);
}

.signup-requirements-container{
    background-color: var(--accent-color-2);
    width: 100%;
    border-radius: 0 0 7.5px 7.5px;
    text-align: center;
    color: var(--reversed-txt-clr);
    font-family: var(--ff-primary);
    font-size: var(--h5);
}

.checkbox-container{
    grid-area: checkbox-container;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding-bottom: 2rem;
}

.checkbox-container:first-child span,
.checkbox-container:last-child span{
    line-height: var(--h5);
    font-size: var(--h5);
    flex-basis: 100%;
    font-family: var(--ff-secondary);
}
.terms-button,
.policy-button{
    text-decoration: underline;
    cursor: pointer;
}

.submit-btn,
.go-to-page2-btn{
    width: 250px;
    max-width: 60%;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--primary-clr);
    font-size: var(--h4);
    font-weight: 600;
    font-family: var(--ff-primary);
    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    transition: .15s ease-in-out;
    grid-area: submit-btn;
    margin-bottom: 2rem;
}

.submit-btn:hover{
    opacity: .75;
}

.checkbox-container input{
    width: auto;

}

@media (max-width:450px){
    .signup-fields-container{
        grid-template-columns: 1fr;
        grid-template-areas: 'fname-input-container' 
                             'lname-input-container'
                             'email-input-container' 
                             'username-input-container'
                             'password-input-container' 
                             'confirm-password-input-container'
                             'checkbox-container'; 
    }

    .checkbox-container:first-child span{
        flex-basis: 100%;
    }
    
    .checkbox-container:last-child span{
        flex-basis: 100%;
    }
    
}