.Profile {
    font-family: var(--ff-primary);
    display: grid;

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,33%);
    grid-template-areas: "profile-info ..............."
                         "about-me     photo-previews"
                         "about-me     pet-previews";
    gap: 2rem;
}

.profile-info{
    grid-area: profile-info;
}

.about-me{
    grid-area: about-me;
}

.profile-content{
    grid-area: profile-content;
}

.photo-previews{
    grid-area: photo-previews;
}

.pet-previews{
    grid-area: pet-previews;
}



