.Profile {
    font-family: var(--ff-primary);
    display: grid;

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "profile-info profile-info"
                         "about-me     photo-previews"
                         "about-me     pet-previews";
    gap: 2rem;
}

.profile-info{
    grid-area: profile-info;
}

.about-me{
    grid-area: about-me;
}

.profile-content{
    grid-area: profile-content;
}

.photo-previews{
    grid-area: photo-previews;
}

.pet-previews{
    grid-area: pet-previews;
}

@media (max-width: 768px){
    .Profile {
        font-family: var(--ff-primary);
        display: grid;
    
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr repeat(2,1fr);
        grid-template-areas: "profile-info"
                             "about-me"
                             "photo-previews"
                             "pet-previews";
        gap: 2rem;
    }
}