.profile-header {
    display: grid;
    grid-template-areas: 
    'profile-pic display-name    '
    'profile-pic ................' 
    'profile-pic button-container';
     grid-template-columns: 200px auto;
     gap: 1rem;
}

.profile-pic-container{
    display: flex; 
    flex-direction: column;
    width: 100%;
    position: relative;
    grid-area: profile-pic;
}

.display-name-container{
    grid-area: display-name;
}

.display-name {
    font-weight: 600;
    font-family: var(--ff-primary);
    white-space: nowrap;
}

.display-name input {
    width: 100%;
    outline: none;
    border: solid var(--primary-clr) 2px;
    border-radius: 10px;
    text-overflow: ellipsis;
    font-size: var(--h4);
}

.display-name input:read-only {
    border: none;
    outline: none;
    background: transparent;
}

.SideContainer {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    grid-area: button-container;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.button-container a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

div.button-container button:nth-child(n){
    /* margin-left: 1rem; */
}

div.button-container button:first-child{
    /* margin-left: 0; */
}

.Button {
    background-color: var(--primary-clr);
    color: var(--reversed-txt-clr);
    border-radius:7px;
    box-sizing: border-box;
    border: none;
    /* box-shadow: var(--elevation-1); */
    text-align: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: .15s ease-in-out;
    padding: 0.5rem 1rem;
}

.Button:hover{
    opacity: .75;
}

.EditButton {
    align-self: center;
    font-size: 1.5em;
    height: 50%;
    outline: none;
}

.ban-button {
    margin-left: 30px;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.SideContainer-nameDiv {
    display: flex;
    justify-items: center;
}

.SideContainer-contaniner {
    display: flex;
}

@media (max-width: 768px){
    .profile-header{
        grid-template-columns: 100px auto;
    }
}

@media (max-width: 547px){
    .profile-header{
        grid-template-areas: 
        'profile-pic display-name    '
        'profile-pic ................' 
        'button-container button-container'
        'button-container button-container';
    }

    /* div.button-container button:nth-child(n){
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
    
    div.button-container button:first-child{
        margin-left: 0rem;
    } */
}