.AboutMe {
    display: flex;
    height: 100%;
    width: 100%;
}

.AboutMe button {
    outline: none;
}

.AboutMe label {
    font-weight: 600;
}

.AboutMe textarea{
    font-family: var(--ff-secondary);
    height: 100%;
    width: 100%;
}

.AboutMe textarea:read-only {
    border: none;
}

.Container {
    padding: 1rem;
    border-radius: 0px 7.5px 7.5px 7.5px;
    overflow: hidden;
    box-shadow: var(--elevation-2);
    width: 100%;
    height: 100%;
}

.Content {
    width: 100%;
    height: 90%;
    font-size: 1.5em;
}

.Content input {
    outline: none;
    border: var(--primary-clr) solid 2px;
    border-radius: 10px;
    width: 146px;
    margin-bottom: 7px;
    text-overflow: ellipsis;
}

.Content input:read-only {
    outline: none;
    border: none;
}

.TextArea:read-only {
    resize: none;
    outline: none;
    background-color: unset;
    box-shadow: unset;
}

.TextArea {
    resize: none;
    outline: none;
    border: 1px solid var(--inactive-txt-clr);
    border-radius: 7.5px;
    width: 100%;  
    padding-left: 10px;

}

.TextArea::-webkit-scrollbar {
    width: 10px; 
    background-color: none;
    box-shadow: unset;
}

.TextArea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(245, 243, 243, 0.966);
}

.TextArea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}



.PetOwnerLinkLabel {
    font-weight: 600;
}