.map-search-results-container{
    display:grid;
    grid-template-areas: 'map map map map search-results';
    grid-template-columns: repeat(5, 1fr), 2fr;
    width: 100%;
    height: calc(100vh - 100px); 
    transition: 2s;
}

/* MAP */
.map-search-results-map{
    background-color: var(--site-preview-2-container-color);
    grid-area: map;
}

.map-search-results-map img{
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
}

.sort-dropdown-select{
    border: none;
    border-radius: 5px;
    background-color: var(--reversed-txt-clr);
    cursor:pointer;
    padding-left:5px;
}

.sort-dropdown-label{
    font-size: var(--h3);
    font-family: var(--ff-primary);
    font-weight: 600;

}

.sort-dropdown img{
    margin-right: 36px;
}

.map-search-results-filter{
    grid-area: search-results;
    box-shadow: var(--elevation-1);
    overflow: auto;
}

.map-search-results-filter{
    display: flex;
    flex-direction: column;
}


  /* Filter Styling */

.filter-business-categories,
.filter-pet-types,
.filter-pet-size,
.filter-pet-colors,
.filter-pet-age,
.filter-pet-breed,
.filter-shelter-pets,
.filter-distance{
    padding-top: 25px;
    width: 75%;
    margin: 0 auto;
}

.filter-button{
    width: 75%;
    margin: 25px auto;
    background-color: var(--primary-clr);
    border: none;
    border-radius: 7.5px;
    box-shadow: var(--elevation-1);
    color: var(--reversed-txt-clr);
    text-align: center;
    font-weight: 600;
    font-family: var(--ff-primary);
    font-size: var(--h3);
    cursor: pointer;
}


.map-coming-soon{
    text-align: center;
    font-size: var(--h1);
    color: var(--primary-txt-clr);
    font-family: var(--ff-primary);
    margin-top: calc(50vh - 100px);
    font-weight: 600;
    color: var(--accent-color-1)
}
