select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
  
.search-category-dropdown select{
  background-color: var(--reversed-txt-clr);
  border: none;
  border-radius:7.5px;
  font-size: var(--h2);
  padding-left:10px;
  padding-right: 25px;
  background: url("../../images/Created\ Icons/Dropdown.svg") no-repeat right;
  cursor: pointer;
  font-family: var(--ff-tertiary);
}
  
.searchbar{
  display:flex;
  flex-direction: row;
  max-width: 800px;
  width: 75%;
  box-shadow: var(--elevation-2);
  border-radius: 7.5px;
  align-items: center;
  font-family: var(--ff-secondary);
  flex-shrink: 2;
  background-color: white;
  margin: 0 auto;
}
    
.searchbar input{
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-color: var(--nav-bar-color);
  font-size: var(--h3);
  text-overflow: ellipsis;
  width: 100%;
}

.searchbar-term-input{
  font-size: var(--h3);
}
  
  /* Searchbar button */
.searchbar-search-icon {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  background: url("../../images/Created\ Icons/Search.svg") 50% no-repeat;
  transition: .15s ease-in-out;
}

.div-term-searchbar-input, .div-map-searchbar-input {
  padding: 0 5px;
}
  
  
.searchbar-search:hover{
  opacity:.75;
}
  
  
.combobox-popover{
  background-color: white;
  padding: 5px;
  box-shadow: var(--elevation-1);
  font-family: var(--ff-primary);
  z-index: 1;
  border-radius: 7.5px;
  position: relative;
}
  
.combobox-list{
    list-style: none;
}
  
.combobox-list li{
  cursor:pointer;
  padding:5px;
  border-bottom: 1px solid rgba(0,0,0,0.10);
}
  
.combobox-popover li:hover{
  color: var(--primary-clr)
}
  
.current{
  cursor: default;
}
  
.current img:hover{
  opacity:1;
}

@media (max-width: 768px){
  .searchbar{
    display: grid;
    grid-template-areas: 'term     category'
                         'location   search';
    grid-template-rows: 40px;
    grid-template-columns: auto 150px;
    height: 80px;
  }

  .search-category-dropdown{
    grid-area: category;
  }

  .div-term-searchbar-input{
    grid-area: term;
    height: 40px;
    line-height: 40px;
  }

  .searchbar input{
    border-right: none;
    font-size: var(--h4);
  }

  .div-map-searchbar-input{
    grid-area: location;
    height: 40px;
    line-height: 40px;
  }

  .searchbar-search{
    grid-area: search;
    background-color: var(--primary-clr);
    font-family: var(--ff-tertiary);
    height: 100%;
    width: 100%;
    border: none;
    font-size:var(--h4);
    border-radius: 0 0 7.5px 0;
    color: var(--reversed-txt-clr);
    transition: .15s ease-in-out;
  }

  .searchbar-search:hover{
    opacity: .9;
    cursor: pointer;
  }

  .search-category-dropdown select{
    font-size: var(--h4);
  }
}