.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7.5px;
    box-shadow: var(--elevation-1);
    margin: 5rem auto auto auto;
}


.login-header{
    background-color: var(--primary-clr);
    width: 100%;
    text-align: center;
    color: var(--reversed-txt-clr);
    line-height: 4rem;
    border-radius: 7.5px 7.5px 0 0;
    box-shadow: var(--elevation-1);
}

.password-input-label{
    display: inline;
    float: left;
}

.username-input-container{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.password-input-container{
    margin-bottom: 5rem;
}

.username-input-container,
.password-input-container{
    width: 250px;
    max-width: 85%;
}


.create-account-link{
    margin-bottom: 1rem;
    font-family: var(--ff-primary);
}

.username-input-container input,
.password-input-container input{
    padding: 0.75rem;
    border: none;
    border: 1px solid var(--inactive-txt-clr);
    border-radius: 7.5px;
    width: 100%;
}

.checkbox {
    padding: 1rem;
    font-family: var(--ff-secondary);
}

.forgot-password{
    display: inline;
    border:none;
    cursor: pointer;
    background: transparent;
    color: var(--inactive-txt-clr);
    font-family: var(--ff-primary);
}

.submit-btn{
    width: 250px;
    max-width: 60%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: var(--primary-clr);
    font-size: var(--h3);
    font-weight: 600;
    font-family: var(--ff-primary);

    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.submit-btn:hover{
    opacity: .75;
}


.checkbox input{
    cursor:pointer;
}


.login-error-container{
    background-color: var(--cancel-delete-exit-color);
    width: 100%;
    border-radius: 0 0 7.5px 7.5px;
    text-align: center;
    color: var(--reversed-txt-clr);
}

