.account-required-container{
    width: 400px;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-required-message{
    padding-top: 3rem;
    font-family: var(--ff-primary);
    font-size:  var(--h1);
}

.account-required-redirect-buttons-container{
    padding-top: 1rem;
}

.account-required-redirect-login,
.account-required-redirect-signup{
    font-size: var(--h2);
    font-family: var(--ff-primary);
    text-decoration: none;
    padding: 1rem;
    border-radius: 7.5px;
    box-shadow: var(--elevation-1);
    cursor: pointer;
}

.account-required-redirect-login{
    border: none;
    margin-left: 15px;
    background-color: var(--primary-clr);
    color: var(--reversed-txt-clr)
}

.account-required-redirect-signup{
    border: none;
    margin-right: 15px;
    background-color: var(--accent-color-2);
    color: var(--reversed-txt-clr)
}