.PhotoPostContainer,
.TextPostContainer {
  display: flex;
  width: 1200px;
  max-width: 100%;
  height: 800px;
  max-height: 100%;
  flex-flow: row wrap;
}

/* Image Half */
.PostPhotoContainer {
  flex-basis: 50%;
  background-color: black;
}

.PostPhotoContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 7.5px;
}

/* Post and Comments Half */
.PhotoPostContent,
.TextPostContent {
  padding-top: 1rem;

  box-shadow: var(--elevation-1);
  display: flex;
  flex-direction: column;
}

.PhotoPostContent {
  flex-basis: 50%;
}

.TextPostContent {
  flex-basis: 100%;
}

/*Post Detail*/

.PostInfo {
  flex: 0 0 45px;
  grid-area: post-detail;
  margin-left: 1rem;
  display: grid;
  grid-template-rows: repeat(2, 22.5px);
  grid-template-columns: 45px auto;
  grid-template-areas:
    "post-detail-pic  post-detail-name     "
    "post-detail-pic  post-detail-timestamp";
}

/* Profile Pic */
.PosterPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7.5px;
  grid-area: post-detail-pic;
}

.PosterName {
  margin-left: 1rem;
  grid-area: post-detail-name;
}

.PostTimestamp {
  margin-left: 1rem;
  grid-area: post-detail-timestamp;
  font-family: var(--ff-secondary);
  align-self: flex-end;
  font-size: var(--base-size);
}

/*Body*/
.PostBody {
  margin: 0.5rem 1rem;
  font-family: var(--ff-secondary);
}

/* Comments  */

.PostComments {
  padding-left: 0;
  list-style: none;
  overflow: auto;
  flex: 2 1 1px;
  margin-bottom: 0;
}

.CommentBox {
  display: flex;
  width: 100%;
  flex: 0 1 40px;
  padding: 1rem 0;
  background-color: var(--color-text-inverted);
}

.CommentBox input {
  margin-left: 2.5%;
  flex-basis: 80%;
  border-radius: 7.5px;
  border: 1px solid var(--inactive-txt-clr);
  padding: 0.5rem 0.5rem;
}

.CommentBox button {
  flex-basis: 15%;
  margin: 0 2.5%;
  background-color: var(--primary-clr);
  color: white;
  border: none;
  border-radius: 7.5px;
  box-shadow: var(--elevation-1);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.CommentBox button:hover {
  opacity: 0.75;
}

.CommentBox span {
  font-size: var(--base-size);
  font-family: var(--ff-primary);
  font-weight: 600;
}

.CommentsPlaceholder {
  font-family: var(--ff-secondary);
  color: var(--inactive-txt-clr);
  text-align: center;
}

@media (max-width: 768px) {
  .PostPhotoContainer {
    flex-basis: 100%;
    height: 50%;
  }

  .post-content {
    flex-basis: 100%;
    height: 50%;
  }
}
