.send-a-message-container {
  display: flex;
  flex-flow: column;
  width: 750px;
  max-width: 100%;
  height: calc(100% - 31px - 2rem);
}

.sendAMessage-header {
  margin: 1rem 2.5%;
  font-weight: 600;
  font-family: var(--ff-primary);
}

.sendAMessage-subject {
  margin: 0.5rem 2.5%;
  padding: 0.5rem .5rem;
  border-radius: 7.5px;
  flex-basis:  38px;
  border: 1px solid var(--inactive-txt-clr);
}

.sendAMessage-body {
  margin: 0.5rem 2.5% 0 2.5%;
  overflow-y: auto;
  flex: 2 1 300px;
  resize: none;
  border-radius: 7.5px;
  border: 1px solid var(--inactive-txt-clr);
  padding: 0.5rem;
  font-family: var(--ff-secondary);
}

.sendAMessage-sendButton {
  background-color: var(--primary-clr);
  margin: 1rem 2.5%;
  min-width: 200px;
  flex-basis: 38px;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 7.5px;
  box-shadow: var(--elevation-1);
  cursor: pointer;
  font-family: var(--ff-primary);
  text-align: center;
  margin-left: auto;
  transition: 0.15s ease-in-out;
}

.sendAMessage-sendButton:hover {
  opacity: 0.75;
}

.sendAMessage-sendButton h4 {
  font-family: var(--ff-primary);
  font-weight: 600;
}



.sendAMessage-recipient {
  margin: 0.5rem 2.5%;
  font-family: var(--ff-secondary);
}

.option-recipient-image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 7.5px;
}

.option-recipient-name {
  margin-left: 1rem;
}

@media (max-width: 450px){
  .sendAMessage-body{
      height: 100%;
  }
}
