.terms-and-conditions-container{
    margin: 60px auto;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    height: 80vh;
    padding: 1rem;
    font-family: var(--ff-secondary);
}

@media (max-width: 450px){
    .terms-and-conditions-container{
        height: 90%;
    }
}