.view-message-container{
    width: 750px;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.view-message-header{
    font-family: var(--ff-primary);
    font-weight: 600;
    flex-basis: 95%;
    margin: 1rem 2.5%;
}

.view-message-sender{
    flex-basis: 95%;
    margin: 0 2.5%;
    font-family: var(--ff-secondary);
    font-size: var(--h5);
}

.view-message-timestamp{
    flex-basis: 95%;
    margin: 0 2.5%;
    padding-bottom: 10px;
    font-family: var(--ff-secondary);
    font-size: var(--h5);
}



.view-message-body,
.view-message-reply-body{
    margin: 0.75rem 2.5%;
    height: 300px;
    max-height: 100%;
    flex-basis: 95%;
    overflow-y: auto;
    font-family: var(--ff-secondary);
    box-shadow: var(--elevation-1);
    border-radius: 7.5px;
    padding: 0.5rem;
    font-size: var(--h5);
}

/* .view-message-reply-body{
    box-shadow:none;
    resize: none;
    border: 1px solid var(--inactive-txt-clr);
    margin-left: 2.5%;
} */


/* .view-message-reply-button{
    background-color: var(--primary-clr);
    color: white;
    padding:0 25px 0 25px;
    border: none;
    border-radius: 7.5px;
    box-shadow: var(--elevation-1);
    cursor: pointer;
    font-family: var(--ff-primary);
    font-size: var(--h3);
    text-align: center;
    line-height: 32px;
    float: right;
    margin: 15px 2.5% 15px 0;
    transition: .15s ease-in-out;
} */

.view-message-reply-button:hover{
    opacity: .75;
}


@media (max-width: 450px){
    .view-message-body{
        height: 80vh;
    }
}