.Button {
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 7.5px;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-tertiary-200);
    transition: .15s ease-in-out;
}

.editIcon{
    width: 20px;
    margin-left: 1rem;
}

.Button:hover {
    background-color: var(--color-tertiary-300);
}