:root {
    --base-size: 1em;
    --type-scale: 1.125;
    --h5: calc(var(--base-size) * var(--type-scale));
    --h4: calc(var(--h5) * var(--type-scale));
    --h3: calc(var(--h4) * var(--type-scale));
    --h2: calc(var(--h3) * var(--type-scale));
    --h1: calc(var(--h2) * var(--type-scale));

    /*Font Families*/ 
    --ff-primary: 'Nunito', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: var(--ff-primary);
    padding: 0;
    margin: 0;
}

h1 {font-size: var(--h1);}
  
h2 {font-size: var(--h2);}

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

p {
    font-size: var(--base-size);
}

label{
    font-family: var(--ff-secondary);
    font-size: var(--h5);
}

small, .text-small {
    font-size: var(--text-sm);
}