.navbar-left{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
}

.logo-img,
.logo-img-script{
    height: 50px;
    transition: .15s ease-in-out;
}

.logo-img:hover{
    opacity: .75;
}

.logo-img-inactive{
    height: 50px;
    cursor: default;
}

@media (max-width: 1470px){
    .logo-img{
        height: auto;
        width: 50px;
    }
}

@media (max-width: 1170px){
}