.footer{
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    padding-top: 2rem;
    
}

.our-team{
    flex-basis: 33%;
    
}

.our-team a{
    color: var(--reversed-txt-clr);
    font-family: var(--ff-secondary);
}

.social-media-links{
    flex-basis: 33%;
}

.social-media-links img{
    width: 50px;
    height: 50px;
    filter: invert(98%) sepia(85%) saturate(0%) hue-rotate(178deg) brightness(116%) contrast(100%);
}

.icons8-attribution{
    flex-basis: 33%;
    color: var(--reversed-txt-clr);
    font-family: var(--ff-secondary);
}

