.site-demo2-container{
  min-height: 600px;
  background: url('../../images/MapSearchPreview3.png') no-repeat;
  background-color: rgba(156, 192, 249, 1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-side-container{
  flex-basis: 40%;
  padding-right: 2rem;
}

.search-biz-button{
  margin-top: 2rem;
  border: 2px solid var(--accent-color-1);
  background-color: var(--accent-color-1);
  color: var(--primary-txt-clr);
  border-radius: 7.5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: var(--h2);
  transition: 0.15s ease;
  flex-basis: 49%;
}

@media (max-width: 1170px){
  .site-demo2-container{
    justify-content: center;
    text-align: center;
  }

  .right-side-container{
    padding-right: 0;
  }
}